<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="layout/layout :: main-fragment(~{:: title}, ~{}, ~{:: .layout}, ~{:: #js-friend})">
<head>
    <title>Title</title>
</head>
<body>
<div class="layout">

  <th:block th:replace="fragments/nav :: nav"></th:block>

  <!-- Sidebar -->
  <div class="sidebar">
    <div class=" h-100">

      <div class=" h-100" >
        <div class="d-flex flex-column h-100">

          <div class="hide-scrollbar">
            <div class="container-fluid py-6">

              <!-- Title -->
              <div class="d-flex justify-content-between align-items-center mb-6">
                <!-- Friends List title -->
                <h2 class="font-bold mb-0">Friends List</h2>

                <!-- "Add Friend" icon -->
                <a href="#" class="btn btn-lg nav-link btn-icon btn-add-friend" title="Add Friends">
                  <i class="icon-xl fe-users"></i>
                </a>
              </div>
              <!-- Title -->

              <!-- Search -->
              <form class="mb-6" id="friendRequestForm">
                <div class="input-group">
                  <input type="text" class="form-control form-control-lg" placeholder="Search for users" aria-label="Search for users...">
                  <div class="input-group-append">
                    <button class="btn btn-lg btn-ico btn-secondary btn-minimal" type="submit">
                      <i class="fe-search"></i>
                    </button>
                  </div>
                </div>
              </form>
              <!-- Search -->


              <!-- Modal Add Friend -->
              <div class="modal" id="addFriendModal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Add Friend</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form id="addFriendForm">
                        <div class="form-group">
                          <label for="username">Friend's Username:</label>
                          <input type="text" class="form-control" id="username" placeholder="Enter username">
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <button type="button" class="btn btn-primary" id="submitAddFriendForm">Search</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal Add Friend -->

              <div class="modal" id="show-profile-user">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="card mb-6">
                        <div class="card-body">
                          <div class="text-center py-6">
                            <!-- Photo -->
                            <div class="avatar avatar-xl mb-5">
                              <img class="avatar-img" th:src="@{/assets/images/avatars/12.jpg}" alt="">
                            </div>

                            <h5>Matthew Wiggins</h5>
                            <p class="text-muted">Bootstrap is an open source toolkit for developing web with HTML.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-body">
                      <div class="card mb-6">
                        <div class="card-body">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item px-0 py-6">
                              <div class="media align-items-center">
                                <div class="media-body">
                                  <p class="small text-muted mb-0">Gender</p>
                                  <p>Male</p>
                                </div>
                                <i class="text-muted icon-sm fe-globe"></i>
                              </div>
                            </li>

                            <li class="list-group-item px-0 py-6">
                              <div class="media align-items-center">
                                <div class="media-body">
                                  <p class="small text-muted mb-0">Phone</p>
                                  <p>0987654321</p>
                                </div>
                                <i class="text-muted icon-sm fe-mic"></i>
                              </div>
                            </li>

                            <li class="list-group-item px-0 py-6">
                              <div class="media align-items-center">
                                <div class="media-body">
                                  <p class="small text-muted mb-0">Birthday</p>
                                  <p>10/10/1990</p>
                                </div>
                                <i class="text-muted icon-sm fe-mail"></i>
                              </div>
                            </li>

                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <button type="button" class="btn btn-primary" id="submitAddFriend">Add Friend</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Friends -->

              <!-- TODO: đã thêm card friend để dùng chung, chưa xoá mấy thẻ friend cho trùng id hoặc tên bên trang chats. để sửa sau -->
              <nav class="mb-n6" id="friendList">


                <div class="mb-6">
                  <small class="text-uppercase">A</small>
                </div>

                <!-- Friend -->
                <div class="card mb-6">
                  <div class="card-body">

                    <div class="media">


                      <div class="avatar mr-5">
                        <img class="avatar-img" src="assets/images/avatars/4.jpg" alt="Matthew Wiggins">
                      </div>

                      <div class="media-body align-self-center">
                        <h6 class="mb-0">Matthew Wiggins</h6>
                      </div>

                      <div class="align-self-center ml-5">
                        <div class="dropdown z-index-max">
                          <a href="#" class="btn btn-sm btn-ico btn-link text-muted w-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe-more-vertical"></i>
                          </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item d-flex align-items-center" href="#" id="view-information">
                              View
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#" id="remove-friend">
                              Remove
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#" id="block-this-user">
                              Block
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Link -->
                    <a href="#" class="stretched-link"></a>

                  </div>
                </div>
                <!-- Friend -->

              </nav>
              <!-- Friends -->

            </div>
          </div>

        </div>
      </div>



    </div>
  </div>
  <!-- Sidebar -->
</div>
</body>

<th:block id="js-friend">
  <script>

    let jwtToken = localStorage.getItem("jwtToken");

    //chưa có ảnh nên đang báo ỗi 404 null do avatar
    function loadFriends() {
      if (jwtToken) {
        $.ajax({
          url: "/api/v1/friends",
          type: "GET",
          headers: {
            "Authorization": "Bearer " + jwtToken
          },
          success: function(response) {
            let friendList = $("#friendList");
            // friendList.empty(); // Xóa hết dữ liệu cũ


            response.forEach(function(friend) {
              let friendCard = `
          <div class="mb-6">
            <small class="text-uppercase">${friend.username.charAt(0)}</small>
          </div>
          <div class="card mb-6">
            <div class="card-body">
              <div class="media">
                <div class="avatar mr-5">
                  <img class="avatar-img" src="${friend.avatar}" alt="${friend.username}">
                </div>
                <div class="media-body align-self-center">
                  <h6 class="mb-0">${friend.username}</h6>
                </div>
                <div class="align-self-center ml-5">
                  <div class="dropdown z-index-max">
                    <a href="#" class="btn btn-sm btn-ico btn-link text-muted w-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fe-more-vertical"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item d-flex align-items-center" href="#" id="view-information">
                              View
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#" id="remove-friend">
                              Remove
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="#" id="block-this-user">
                              Block
                        </a>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        `;
              friendList.append(friendCard); // Thêm card friend vào danh sách
            });
          },
          error: function(xhr, textStatus, errorThrown) {
            console.error(errorThrown);
          }
        });
      } else {
        toastr.warning("Please log in again!")
        window.location.href = 'http://localhost:8080/signin';

      }

    }

    // Gọi hàm loadFriends khi trang được tải
    $(document).ready(function() {
      loadFriends();
    });


    $("#submitAddFriendForm").on("click", function() {
      let username = $("#username").val();

      // Gửi yêu cầu AJAX để thêm bạn bè
      $.ajax({
        url: "/api/v1/request/" + encodeURIComponent(username),
        type: "POST",
        headers: {
          "Authorization": "Bearer " + jwtToken
        },
        success: function(response) {
          //TODO xem xử lí lại...

          toastr.success("Friend request sent successfully!");
          $("#addFriendModal").modal("hide");
          $("#username").val("");
          loadFriends();
        },
        error: function(xhr, textStatus, errorThrown) {
          console.error(errorThrown);
          // Xử lý lỗi nếu cần
          // Ví dụ: Hiển thị thông báo lỗi
          toastr.error("Failed to send friend request. Please try again.");
        }
      });
    });

    // Hiển thị modal khi người dùng nhấp vào nút "Add Friend" icon
    $(".btn-add-friend").on("click", function() {
      $("#addFriendModal").modal("show");
    });


    // Đóng modal khi người dùng nhấp vào nút "Cancel"
    $("#addFriendModal").on("hidden.bs.modal", function() {
      $("#username").val(""); // Xóa giá trị trong trường nhập liệu
    });
  </script>

</th:block>
</html>

