<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="layout/layout :: main-fragment(~{:: title}, ~{}, ~{:: .layout }, ~{:: #js-account})">


    <head>

        <title>Messenger - Responsive Bootstrap Application</title>

    </head>

    <body>

        <div class="layout">

            <div class="container d-flex flex-column">
                <div class="row align-items-center justify-content-center no-gutters min-vh-100">

                    <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">

                        <!-- Heading -->
                        <h1 class="font-bold text-center">Password Reset</h1>

                        <!-- Text -->
                        <p class="text-center mb-6">Enter your email address to reset password.</p>

                        <!-- Form -->
                        <form class="mb-6">

                            <!-- Email -->
                            <div class="form-group">
                                <label for="email" class="sr-only">Email Address</label>
                                <input type="email" class="form-control form-control-lg" id="email" placeholder="Enter your email">
                            </div>

                            <!-- Submit -->
                            <button class="btn btn-lg btn-block btn-primary send-otp-btn" type="button">Send Reset Link</button>
                        </form>

                        <!-- Text -->
                        <p class="text-center">
                            Already have an account? <a href="./signin">Sign in</a>.
                        </p>

                    </div>
                </div> <!-- / .row -->
            </div>

            <!-- tách thành fragment -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
<!--                            <h4 class="modal-title">Modal Heading</h4>-->
                            <h1 class="font-bold text-center modal-title">OTP</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
<!--                            <input type="text" placeholder="Nhập Otp">-->
                            <div class="form-group">
                                <label for="email" class="sr-only">nhập otp</label>
                                <input type="text" class="form-control form-control-lg" id="otp" placeholder="Enter your otp">
                            </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button class="btn btn-lg btn-block  btn btn-danger" type="button" data-bs-dismiss="modal">close</button>
<!--                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>-->

                            <button class="btn btn-lg btn-block btn-success confirm-otp-btn" type="button">xác nhận</button>
<!--                            <button type="button" class="btn btn-success confirm-otp-btn">xác nhận</button>-->
                        </div>

                    </div>
                </div>
            </div>
            <!-- modal để đổi mật khẩu mới,tùy ae dùng web hay modal có thể tùy chỉnh -->
            <div class="modal fade" id="new-password-modal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Modal Heading</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <input type="text" placeholder="Mật khẩu">
                            <input type="text" placeholder="Nhập Lại Mật Khẩu">

                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">

<!--                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>-->

<!--                            <button type="button" class="btn btn-success confirm-new-password-btn">xác nhận</button>-->
                        </div>

                    </div>
                </div>
            </div>
        </div><!-- .layout -->




    </body>

    <th:block id="js-account">
        <script>
            $(document).ready(function () {
                $(".send-otp-btn").click(function (event) {
                    event.preventDefault()

                    // validate
                    // let isValidCreatForm = $("#reset-password-form").valid()
                    // if (!isValidCreatForm) {
                    //   return
                    // }

                    // biến boolean kiểm tra email tồn tại
                    let emailExisted = {}
                    let email = document.getElementById("email").value;
                    console.log(email)
                    let formdata = {
                        email: email,
                    }


                    // lệnh show modal => ném vào khối khi email tồn tại thì sẽ show hư bên dưới
                    $('#myModal').modal("show")
                    $.ajax({
                        url: "/api/v1/users/email-check",
                        type: "POST",
                        contentType: 'application/json',
                        data: JSON.stringify(formdata),
                        success: function (response) {
                            // kiểm tra trên back end trả về true hoặc false
                            emailExisted = response
                            if (emailExisted === true) {
                                sendingEmail(email)
                                $('#myModal').modal("show")
                            }
                            else toastr.error("Email Không Tồn Tại Trong Hệ Thống")
                        },
                        error: function (xhr, status, error) {
                        }
                    })
                });
            });

            function sendingEmail(email) {
                // api gửi email
                $.ajax({
                    url: "/api/v1/users/" + email + "/otp-sending",
                    type: "POST",
                    contentType: 'application/json',
                    success: function (response) {
                        console.log("ok")
                    },
                    error: function (xhr, status, error) {
                    }
                })
            }


            // kiểm tra otp
            $(".confirm-otp-btn").click(function (event) {
                event.preventDefault()
                let otp = $('.confirm-otp-btn').val()
                let formData = {
                    otpCode: otp
                }

                $('#myModal').modal('hide')
                $('#new-password-modal').modal('show');
                $.ajax({
                    url: "/api/v1/authentication/verify-otp",
                    type: "POST",
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function (response) {
                        console.log(response)
                        // trên back end ae kiểm tra kiểu gfi cũng được
                        if (true) {
                            toastr.error("Mã Otp Không Chính Xác")
                        }
                        else if (true) {
                            toastr.error("Otp Đã Hết Hạn")
                        }
                        else {
                            // trường hợp thành công thì  đóng modal nhập otp và mở modal new password
                            // ae dùng web thì chuyển hướng
                            // $('#myModal').modal('hide')
                            // $('#new-password-modal').modal('show');
                        }
                    },
                    error: function (xhr, status, error) {
                    }
                })
            })
        </script>
    </th:block>
</html>