<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="layout/layout :: main-fragment(~{:: title}, ~{}, ~{:: .layout }, ~{:: #js-account})">


    <head>

        <title>Reset Password</title>

    </head>

    <body>

        <div class="layout">

            <div class="container d-flex flex-column">
                <div class="row align-items-center justify-content-center no-gutters min-vh-100">

                    <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">

                        <!-- Heading -->
                        <h1 class="font-bold text-center">Password Reset</h1>

                        <!-- Text -->
                        <p class="text-center mb-6">Enter your email address to reset password.</p>

                        <!-- Form -->
                        <form class="mb-6" id="reset-password-form">

                            <!-- Email -->
                            <div class="form-group email-address">
                                <label for="email" class="sr-only">Email Address</label>
                                <input type="email" class="form-control form-control-lg reset-email-data" id="email" placeholder="Enter your email">
                            </div>

                            <!-- Submit -->
                            <button class="btn btn-lg btn-block btn-primary send-otp-btn" type="submit">Send Reset Link</button>
                        </form>

                        <!-- Text -->
                        <p class="text-center">
                            Already have an account? <a href="./signin">Sign in</a>.
                        </p>

                    </div>
                </div> <!-- / .row -->
            </div>

            <!--From OTP-->
            <div class="modal fade " id="form-otp">
                <div class="modal-dialog" style="margin-top: 10%">
                    <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h1 class="font-bold text-center modal-title">OTP</h1>
                                        <p>A code has been sent to</p>
                                        <button type="button" class="btn-close bg-white border-0 " data-bs-dismiss="modal">❌</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="otp" class="sr-only">nhập otp</label>
                                            <input type="text" class="form-control form-control-lg confirm-otp-input" id="otp" placeholder="Enter your otp">
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button class="btn btn-lg btn-block btn-primary confirm-otp-btn" type="button">xác nhận</button>

                                    </div>
                    </div>
                </div>
            </div>


            <!-- modal để đổi mật khẩu mới,tùy ae dùng web hay modal có thể tùy chỉnh -->
            <div class="modal fade" id="new-password-modal">
                <div class="modal-dialog" style="margin-top: 10%">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h1 class="font-bold text-center modal-title">New Password</h1>
                            <button type="button" class="btn-close bg-white border-0 " data-bs-dismiss="modal">❌</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="password" class="sr-only"></label>
                                <input type="password" class="form-control form-control-lg" id="password" placeholder="Enter new password">
                            </div>
                            <div class="form-group">
                                <label for="confirm-password" class="sr-only"></label>
                                <input type="password" class="form-control form-control-lg" id="confirm-password" placeholder="Enter confirm password">
                            </div>

                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button class="btn btn-lg btn-block btn-primary confirm-new-password-btn" type="button">xác nhận</button>

                        </div>


                    </div>
                </div>

            </div>
        </div>
    </body>



        <!-- .layout -->

    <th:block id="js-account">
        <script>
            $(document).ready(function () {
                $('.btn-close').click(function () {
                    $('.modal').modal('hide');
                })


                $(".send-otp-btn").click(function (event) {
                    event.preventDefault();

                    let resetForm = $('#reset-password-form');
                    resetForm.validate(
                        {
                            rules: {
                                email: {
                                    required: true,
                                    email: true
                                }
                            },
                            messages: {
                                email: {
                                    required: 'Please enter an email.',
                                    email: 'Please enter a valid email address.'
                                }
                            },
                            errorPlacement: function (error, element) {
                                let errorContainer = element.siblings('.error-container');
                                errorContainer.find('.rror-message').html(error);
                                errorContainer.show();
                            },
                        })
                    let inputs = resetForm.find('input');
                    inputs.on('input', function () {
                        let input = $(this);
                        resetForm.validate().element(input);
                    });

                    let isValidCreatForm = $("#reset-password-form").valid();
                    if (!isValidCreatForm) {
                      return
                    }

                    // biến boolean kiểm tra email tồn tại
                    let emailExisted = {}
                    let email = document.getElementById("email").value;
                    console.log(email)
                    let formdata = {
                        email: email,
                    }

                    // lệnh show modal => ném vào khối khi email tồn tại thì sẽ show hư bên dưới
                    // $('#myModal').modal("show")

                    $.ajax({
                        url: "/api/v1/authentication/check-email",
                        type: "POST",
                        contentType: 'application/json',
                        data: JSON.stringify(formdata),
                        success: function (response) {
                            // kiểm tra trên back end trả về true hoặc false
                            emailExisted = response
                            if (emailExisted === true) {
                                alert("dung email")
                                sendingEmail(email);
                                console.log("send")
                                document.getElementById("email").readOnly = true;
                                let message = `A code has been sent to <span class='emai-address'>${email}</span>`;
                                let messageElement = document.getElementById("form-otp").querySelector("p");
                                messageElement.innerHTML = message;
                                $("#form-otp").slideDown(500);
                                $('#form-otp').modal("show")
                            }
                            else toastr.error("Email not existed")
                        },
                        error: function (xhr, status, error) {
                        }
                    })


                });

                function sendingEmail() {

                    let email = document.getElementById("email").value;
                    let formData = {
                        email: email
                    }
                    $.ajax({
                        url: "/api/v1/authentication/otp-sending",
                        type: "POST",
                        data: JSON.stringify(formData),
                        contentType: 'application/json',
                        success: function (response) {
                            toastr.success(response);
                        },
                        error: function () {
                            toastr.error("no send");
                        }
                    })
                }
                function convertTime(arr) {
                    let year = arr[0];
                    let month = arr[1] - 1;
                    let day = arr[2];
                    let hour = arr[3];
                    let minute = arr[4];
                    let second = arr[5];
                    return new Date(year, month, day, hour, minute, second);
                }

                // kiểm tra otp
                $(".confirm-otp-btn").click(function (event) {
                    event.preventDefault()
                    let email = document.getElementById("email").value;
                    let rqCode = document.getElementById("otp").value;
                    let otp = rqCode;
                    let formData = {
                        code: otp
                    }
                    //
                    // $('#myModal').modal('hide')
                    // $('#new-password-modal').modal('show');
                    $.ajax({
                        url: "/api/v1/authentication/verify-otp",
                        type: "POST",
                        contentType: 'application/json',
                        data: JSON.stringify(formData),
                        success: function (response) {
                            console.log(otp);
                            console.log(response);
                            // trên back end ae kiểm tra kiểu gfi cũng được
                            if (!response ) {
                                toastr.error("response Incorrect")
                            } else if (response.code!==otp) {
                                toastr.error("Otp Code Incorrect")
                            }
                            else if (convertTime(response.expiry) < new Date()) {
                                toastr.error("Otp Expired")
                            }
                            else {
                                $('#form-otp').modal('hide')
                                $('#new-password-modal').modal('show');
                            }
                        },
                        error: function () {
                            toastr.error("loi roi")
                        }
                    })
                })
                $(".confirm-new-password-btn").click(function (event) {
                    event.preventDefault();
                    let email = document.getElementById("email").value;
                    let newPassword = $("#password").val();
                    let is
                    //TODO:...
                })





            });
        </script>
    </th:block>
</html>